@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&family=Work+Sans&display=swap");
/* 'Play',sans-serif */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
/*Navbar*/
.activeLink {
  color: #6b9a3e;
  cursor: pointer;
}
.head {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  border-bottom: 1px solid #c7c7c7;
  background-color: #fff;
}
li {
  list-style-type: none;
}
.contact ul {
  display: flex;
  align-items: center;
  column-gap: 37px;
  row-gap: 5px;
  flex-wrap: wrap;
}
.navItems ul {
  display: flex;
  align-items: center;
  column-gap: 40px;
  color: #6b9a3e;
  cursor: pointer;
}
.navItems ul li a{
  text-decoration: none;
  color:#6b9a3e;
}

/* Sub navbar */
.head1 {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 3rem;
  background-color: #fff;
}
.name a{
  color: #000;
  text-decoration: none;
}
.searchBar {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  column-gap: 30px;
  background-color: #f8f9fb;
  border: 1px solid #b4b5b7;
  border-radius: 10px;
}
.categories {
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-right: 1px solid #b4b5b7;
  padding-right: 1.5rem;
  cursor: pointer;
  position: relative;
}
.categories svg {
  margin-bottom: 0;
}
.dropDown {
  display: none;
  transition: all 0.2s linear;
}
.categories:hover .dropDown {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 130px;
  text-align: center;
  background: #f8f9fb;
}
.dropDown ul {
  display: block;
  margin: 7px;
}
.dropDown ul li {
  margin-bottom: 0.5rem;
}
.categories span {
  font-weight: 900;
}
.categories svg {
  color: #6b9a3e;
  cursor: pointer;
  transition: all 0.2s linear;
}
.categories:hover .angleDown {
  transform: rotate(180deg);
}
.input {
  display: flex;
  align-items: center;
}
.input input {
  font-size: 15px;
  color: #c5c6c8;
  border: none;
  outline: none;
  width: 18rem;
  background-color: #f8f9fb;
}
.input svg {
  transform: rotate(90deg);
  color: #2b2c2e;
}
.icons {
  display: flex;
  align-items: center;
  column-gap: 40px;
  cursor: pointer;
  font-size: 27px;
}
.icons a{
  color: #000;
}

/* Main Navbar */
.head2 {
  background-color: #f8f9fb;
  padding: 1.5rem 3rem;
}
.head2 ul {
  display: flex;
  align-items: center;
  column-gap: 40px;
  flex-wrap: wrap;
  row-gap: 10px;
}
.head2 ul li {
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
}
.head2 ul li a{
  color: #000;
  text-decoration: none;
}
.head2 ul li svg {
  color: #6b9a3e;
  margin-bottom: 0;
}
.homepage {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 1rem 3rem;
  font-size: 13px;
}
.homepage span {
  color: #bbbcbe;
}
.homepage span a{
  color: #bbbcbe;
  text-decoration: none;
}
.homepage span:last-child {
  color: black;
}

/* Filter Component */
.head3 {
  padding: 1rem 3rem 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icons1 {
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-size: 15px;
}
.icons1 svg {
  color: #6b9a3e;
}
.list svg {
  color: #b7b8ba;
}
.list {
  color: #b7b8ba;
}
.grid,
.list,
.product {
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
}
.svg,
#SelectedFilter {
  background-color: #f2f8ee;
  color: #6b9a3e;
  font-size: 14px;
  border-radius: 20px;
  padding: 0.2rem 0.5rem;
}
.head4 {
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
}
.box,
.box1 {
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-radius: 10px;
  background-color: #f8f9fb;
  border: 1px solid #d9dbde;
  padding: 0.5rem 1rem;
}
.box input[type="checkbox"],
.box1 input[type="checkbox"],
.brandItems input[type="checkbox"],
.rating input[type="checkbox"] {
  display: none;
}
.check_box {
  height: 15px;
  width: 15px;
  border: 1px solid #d5d6d8;
  border-radius: 50%;
  background-color: #f8f9fb;
  cursor: pointer;
}
.square_box {
  height: 20px;
  width: 20px;
  border: 1px solid #d5d6d8;
  background-color: #f8f9fb;
  cursor: pointer;
  position: relative;
}
.square_box:after {
  content: "\2713";
  color: #f8f9fb;
  position: absolute;
  top: -2px;
  left: 1px;
}
.box input[type="checkbox"]:checked + .check_box {
  height: 15px;
  width: 15px;
  outline: 5px solid #000;
}
.box1 input[type="checkbox"]:checked + .square_box,
.brandItems input[type="checkbox"]:checked + .square_box,
.rating input[type="checkbox"]:checked + .square_box {
  background-color: #69993c;
  border: 2px solid #56861f;
}
.box2 {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding-right: 1rem;
  border-right: 1px solid #d5d6d8;
}

.select {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  position: relative;
  transition: all 0.3;
}
.select:hover .dropDown {
  display: block;
  position: absolute;
  left: -9px;
  top: 100%;
  width: 100px;
  text-align: center;
  background: #f8f9fb;
}
.select svg {
  transition: all 0.2s linear;
}
.select:hover .angleDown {
  transform: rotate(180deg);
}
.filter {
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
}
.filter span {
  color: #b6b7b9;
}
.hidden_span {
  background-color: #e8f2e1;
  color: #a3c084;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
}

/* Products Component */
.container {
  padding: 4rem 3rem;
  display: flex;
  column-gap: 30px;
}
.sideBar {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.categories1,
.brands,
.ratings,
.prices,
.getInTouch,
.connections,
.Earnings,
.account {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.myUl {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.category {
  display: flex;
  align-items: center;
  column-gap: 150px;
}
.products {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.brandItems,
.rating {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.rating svg {
  margin-bottom: 0rem;
  cursor: pointer;
}
.golden {
  color: #fcbd17;
}
.white {
  color: #dadbdd;
}
input [type="range"] {
  width: 40px;
}
.minAndMax,
.buttons1 {
  display: flex;
  column-gap: 10px;
}
.min,
.max {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
#minimum,
#maximum {
  width: 70px;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  border: 2px solid #dfdfe1;
  background: #f8f9fb;
}

/* EcomProduct */
.mainProduct {
  padding-right: 30px;
  border: 2px solid #e6e8e8;
  border-radius: 10px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.image {
  background-color: #f8f9fb;
  padding: 8rem;
}
.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}
.aboutProduct {
  padding: 1rem 5rem 1rem 0;
}
.aboutProduct h3,
p,
svg {
  margin-bottom: 0.3rem;
}
.about {
  display: flex;
  column-gap: 40px;
  color: #c8cbce;
}
.about ul li {
  margin-bottom: 0.4rem;
}
.details {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-top: 1rem;
}
.price span {
  font-weight: 900;
  color: #c8cbce;
  text-decoration: line-through;
}
.ship {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #c8cbce;
}
.ship span:first-child {
  font-weight: 900;
  color: #b0b1b3;
}
.buttons {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.flexButton,
.flexButton1 {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding: 0.5rem;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}
.flexButton svg,
.flexButton1 svg {
  margin-bottom: 0;
}
.flexButton {
  background-color: #68993d;
  border: 2px solid #47780c;
  color: white;
}
.flexButton1 {
  background-color: #f4f5f7;
  border: none;
}

.endPart {
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
}
.page {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.page span:first-child {
  color: #b0b1b3;
  cursor: text;
}
.page span {
  cursor: pointer;
}

/* AboutProduct component */
.container10{
  padding: 4rem 3rem;
  display: flex;
  /* column-gap: 50px; */
  flex-wrap: wrap;
  row-gap: 40px;
  align-items: flex-start;
}
.image3{
  background-color: #f2f8ed;
  height: 500px;
  width: 35vw;
  border-radius: 10px;
}
.flex1{
  display: flex;
  row-gap: 20px;
  align-items: flex-start;
  width: 52vw;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: space-evenly;
}
.about1{
  display: flex;
  column-gap: 40px;
  color: #c8cbce;
}
.price1 span{
  font-weight: 900;
  color: #c8cbce;
  text-decoration: line-through;
}
.ship1{
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #c8cbce;
}
.details1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}
.buttons2{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.moreAbout{
  width: 38vw;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.moreAbout p{
  color: #8f8f8f;
}

/* Footer */
.siteMap {
  padding: 4rem 3rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  align-items: flex-start;
  justify-content: space-between;
}
.siteMap a {
  text-decoration: none;
  color: #92b773;
}
.productTags {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.productTags a {
  text-decoration: none;
  color: black;
}
.span {
  display: flex;
  column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
}
.tags {
  background: #f3f4f6;
  font-weight: 900;
  font-size: 14px;
  padding: 0.5rem;
  border-radius: 20px;
}
.copyright {
  padding: 3rem;
}

/* Responsive */
@media screen and (max-width: 1281px) {
  .category {
    column-gap: 70px;
  }
}
@media screen and (max-width: 1250px) {
  .flexButton,
  .flexButton1 {
    column-gap: 4px;
  }
  .mainProduct {
    column-gap: 10px;
  }
}
@media screen and (max-width: 1224px) {
  .head2 ul {
    column-gap: 20px;
  }
}
@media screen and (max-width: 1137px) {
  .about ul:first-child li {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1083px) {
  .head2 ul {
    column-gap: 20px;
  }
}
@media screen and (max-width: 1043px) {
  .aboutProduct {
    padding: 0 5rem 0 0;
  }
  .details {
    padding-top: 0;
  }
  .mainProduct {
    align-items: flex-start;
  }
}
@media screen and (max-width: 1090px) {
  .head1 {
    column-gap: 126px;
    row-gap: 17px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 990px) {
  .mainProduct {
    padding-right: 10px;
  }
  .container {
    padding: 4rem 2rem;
  }
}
@media screen and (max-width: 930px) {
  .container {
    padding: 4rem 1rem;
    row-gap: 30px;
    flex-direction: column;
  }
  .sideBar {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px;
    justify-content: space-between;
  }
  .products {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}
@media screen and (max-width: 870px) {
  .head {
    flex-direction: column;
    align-content: space-between;
    align-items: center;
  }
  .head3 {
    flex-direction: column;
  }
}
@media screen and (max-width: 842px) {
  .searchBar {
    padding: 1rem;
  }
}
@media screen and (max-width: 821px) {
  .details {
    margin-bottom: 15px;
  }
  .image {
    background-color: #f8f9fb;
    padding: 14.2rem 10rem;
  }
  .aboutProduct {
    margin-top: 2rem;
  }
}
@media screen and (max-width:738px) {
  .image3{
    height: 365px;
    width: 87vw;
  }
  .flex1{
    width: 87vw;
    justify-content: space-evenly;
  }
  .moreAbout{
    width: 85vw;
  }
  
}
@media screen and (max-width: 610px) {
  .head,
  .head1,
  .head2,
  .homepage,
  .head4,
  .filter,
  .endPart,
  .siteMap,
  .productTags,
  .copyright {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media screen and (max-width: 622px) {
  .searchBar {
    column-gap: 5px;
  }
  .contact ul,
  .navItems ul {
    column-gap: 10px;
  }
}
@media screen and (max-width: 680px) {
  .aboutProduct {
    padding-right: 2rem;
  }
}
@media screen and (max-width: 580px) {
  .mainProduct {
    flex-wrap: wrap;
    padding-right: 0;
  }
  .image {
    padding: 8rem 0;
    width: 94vw;
  }
  .aboutProduct {
    margin-left: 1rem;
  }
  .details {
    margin-top: 2rem;
  }
  .about ul:first-child li {
    margin-bottom: 0;
  }
}
@media screen and (max-width:529px) {
  .aboutProduct1,.details1{
    width: 60vw;
  }
  .flex1{
    justify-content: center;
  }
}
@media screen and (max-width: 533px) {
  .searchBar {
    padding: 0.5rem;
  }
  .categories {
    column-gap: 2px;
    padding-right: 0.5rem;
  }
  .input input {
    width: 40vw;
  }
}
@media screen and (max-width: 500px) {
  .details {
    margin-left: 1rem;
    margin-top: 0.5rem;
  }
  .contact ul {
    justify-content: center;
  }
  .contact {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 433px) {
  .head3 h1 {
    font-size: 20px;
    margin-bottom: 1rem;
  }
  .flex1{
    justify-content: flex-start;
  }
}
@media screen and (max-width: 343px) {
  .categories span {
    font-size: 13px;
  }
  .moreAbout {
    width: 82vw;
  }
  .image3 {
    width: 80vw;
  }
  .container10 {
    padding: 4rem 2rem;
  }
}
